*/Activity/*                        @nickvergessen
*/Notifications/*                   @nickvergessen

/apps/admin_audit                   @luka-nextcloud @blizzz
/apps/cloud_federation_api          @vitormattos @mejo-
/apps/comments                      @marcelklehr @ChristophWurst
/apps/contactsinteraction           @kesselb @miaulalala @Pytal @GretaD @hamza221 @st3iny
/apps/dashboard                     @julien-nc @juliushaertl
/apps/dav/lib/CalDAV                @ChristophWurst @miaulalala @tcitworld
/apps/dav/lib/CardDAV               @ChristophWurst @miaulalala @tcitworld
/apps/encryption                    @come-nc @icewind1991
/apps/federatedfilesharing          @icewind1991 @danxuliu
/apps/federation                    @vitormattos @datenangebot
/apps/files                         @nextcloud/files
/apps/files_external                @icewind1991 @artonge
/apps/files_sharing                 @skjnldsv @come-nc
/apps/files_trashbin                @ChristophWurst @icewind1991
/apps/files_versions                @artonge @icewind1991
/apps/oauth2                        @julien-nc @Pytal
/apps/provisioning_api              @provokateurin @nickvergessen
/apps/settings                      @ChristophWurst @JuliaKirschenheuter
/apps/systemtags                    @Antreesy @marcelklehr
/apps/theming                       @skjnldsv @juliushaertl
/apps/twofactor_backupcodes         @st3iny @miaulalala @Pytal
/apps/updatenotification            @ChristophWurst @JuliaKirschenheuter
/apps/user_ldap                     @come-nc @blizzz
/apps/user_status                   @Antreesy @nickvergessen
/apps/weather_status                @julien-nc @juliushaertl
/apps/workflowengine                @blizzz @juliushaertl

# Two-Factor Authentication
# https://github.com/nextcloud/wg-two-factor-authentication#members
/apps/twofactor_backupcodes         @ChristophWurst @miaulalala @nickvergessen
*/TwoFactorAuth/*                   @ChristophWurst @miaulalala @nickvergessen
/core/templates/twofactor*          @ChristophWurst @miaulalala @nickvergessen

/lib/private/Profiler               @CarlSchwan
/lib/public/Profiler                @CarlSchwan

# Security team
resources/config/ca-bundle.crt      @ChristophWurst @julien-nc @miaulalala @nickvergessen
